%header.user-header
  %h1
    = link_to "i am...", root_path, class: "title-logo"
    = fa_icon "paw", class: "bland-icon"
.main
  .inner
    %h1.inner__title 新規登録
    .inner__menu
      = link_to new_user_registration_path, class: "button-default" do
        メールアドレスで登録する
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "button-default btn-sns btn-sns-google" do
        Googleでログイン
      -# = link_to '#',class: "button-default btn-sns btn-sns-twitter" do
      -#   =fa_icon 'twitter',class:'icon'
      -#   Twitterで登録する
%footer.user-footer