%footer
  %ul.menu
    %li
      =link_to "運営会社", "#", class: "menu__list"
    %li
      =link_to "利用規約", "#", class: "menu__list"
    %li
      =link_to "プライバシーポリシー", "#", class: "menu__list"
    %li
      =link_to "お問い合わせ", "#", class: "menu__list"
  .footer-copyright ©️ 2019 i am...