%header
  %h1.title-logo i am...
  %ul.menu
    %li
      =link_to "新規登録", "#", class: "menu__list"
    %li
      =link_to "ログイン", "#", class: "menu__list"
    %li
      =link_to "マイページ", "#", class: "menu__list"
    %li
      =link_to "ログアウト", "#", class: "menu__list"