=render "/shared/header"
.wrapper
  = render "/shared/sideber"
  .main-contents
    .slider
      %ul.slider-inner
        %img#mypic{height: "400", src:  "assets/slide1.jpg", width: "100%"}
      -# %ul.nav
      -# %p#arrow-prev.arrow ←
      -# %p#arrow-next.arrow →
      -# = fa_icon "chevron-left",class: "#arrow-prev.arrow"
      -# = fa_icon "chevron-right",class: "#arrow-next.arrow"
    .animals-content
      %h1.animals-content__title 里親募集情報
      %nav.animals-content__menu
      %ul.animal-card
        - @animals.each do |animal|
          = render partial: "shared/animal-card", locals:{animal: animal}  
=render "/shared/footer"         
