=render "/shared/header"
.wrapper
  = render "/shared/sideber"
  .main-contents
    .slider
      %img{src: "assets/shibainu.jpg", width:"100%", height:"400px"}/
    .animals-content
      %h1.animals-content__title 里親募集情報
      %nav.animals-content__menu
      %ul.animal-card
        %li.animal-card__list
          .animal-info
            = image_tag ("#{@image[0]["image"]}"), class: "animal-info__image"
            .animal-info__list
              .animal-info__list--type 雑種
              .animal-info__list--age 3ヶ月くらい
              .animal-info__list--area　東京都
            .animal-info__list.iam
              .animal-info__list--name まる
              .animal-info__list--gender ♀ 
              .animal-info__list--character　懐っこい

        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
=render "/shared/footer"           
