.wrapper
  = render "/shared/sideber"
  .main-contents
    .slider
      %img{src: "assets/shibainu.jpg", width:"100%", height:"400px"}/
    .animals-content
      %h1.animals-content__title 里親募集情報
      %nav.animals-content__menu
      %ul.animal-card
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
        %li.animal-card__list
          .animal-info
            
