=render "/shared/header"
.wrapper
  = render "/shared/sideber"
  .main-contents
    .top-content
      .top-content__left
        .top-content__left--image
          = image_tag ("#{@animal.animalimages.first.image}"), class: "animalshow-image"
      .top-content__right.clearfix
        .top-content__right--name
          = @animal.name
    %ul.mypage-menu
      %li.mypage-menu__list  コンテンツ1
      %li.mypage-menu__list　コンテンツ２
      %li.mypage-menu__list　コンテンツ３
=render "/shared/footer"         
