.side-contents {
  background-color: $White;
  width: 25%;
  height: 1000px;
  .search-content {
    text-align: center;
    &__title {
      font-size: 20px;
      background-color: $mainBrown;
      padding: 15px 15px 30px 15px;
      color: $White;
      border-radius:30px; 
    }
    &__list {
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-radius:30px; 
      display: inline-block;
      background-color: $mainBrown;
      color: $White;
      margin: 5px 0 0;
    }
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
}